<!DOCTYPE html>
<html>
<html lang="kr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/main.css" />
  <title>병짱맨의 만능 홈페이지</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<header class="mainHeader">
  <h2>Believe in yourself</h2>
</header>

<body class="mainBody">
  <article class="containerLeft">
    <h4 style="border-bottom: 1px solid #adadad; color: #202020;">Link Tab</h3>
      <ul>
        <li><a id="sign" href="/sign">SignIn</a></li>
        <li><a id="ranking" href="#">Movies</a></li>
        <li><a id='search' href="#">Videos</a></li>
        <li><a href="#">Photos</a></li>
      </ul>
  </article>
  <article class="containerRight">
  </article>
  <script src="../static/index.js"></script>
</body>

</html>